[user]
	name = JBaptiste REYNAUD
	email = jbaptiste.reynaud@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore

[color]
	ui = true

[alias]
	# Commons.
	co = checkout
	cob = checkout -b
	st = status -s
	c = commit
	cm = commit -m
	cam = commit -am
	br = branch

	# Push head.
	pushead = !git push origin HEAD
	p = !git pushead
	pf = !git pushead -f

	# Add fix.
	fix = !git add --all && git commit -am "Fix." && git pushead
	f = !git fix

	# Fix last commit.
	fixup = !git add --all && git commit --amend -C HEAD
	fixnow = !git fixup && git pushead -f
	fu = !git fixup
	fn = !git fixnow

	# Delete last commit.
	undo = !git reset --soft HEAD~1

	# Get working directory up to date.
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive

	# Clean merged branch.
	deletedone = !git branch --merged | grep -v \"\\*\" | grep -v master | xargs -n 1 git branch -d
	dd = !git deletedone

	# Rebase.
	rb = "!f() { git rebase -i HEAD~$1; }; f"
	rbc = !git rebase --continue
	rba = !git rebase --abort
	rbs = !git rebase --skip
	rbmaster = !git co master && git up && git co - && git rebase master

	# List previous commits.
	ls = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
	ll = !git ls --numstat
	
	# Stash.
	sc = !git stash clear
	sl = !git stash list --pretty=format:'%Cred%h%Creset -%C(yellow)(%C(bold magenta)%gd%C(yellow))%Creset %<(70,trunc)%s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	
	# Show aliases.
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
